version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password
    volumes:
      - mongo-data:/data/db
    networks:
      - fullstack-net
    restart: unless-stopped
  server:
    image: thenaveengautam/ai-resumebuilder:latest
    container_name: express-server
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    networks:
      - fullstack-net
    restart: unless-stopped

  client:
    image: thenaveengautam/ai-resumebuilder:latest
    container_name: react-client
    ports:
      - "5173:3000"
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped
   
networks:
  fullstack-net:
    driver: bridge

volumes:
  mongo-data: